<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      <strong>Code from La Rioja <ion-icon name="heart"></ion-icon></strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOpts">
    <ion-slide>
      <ion-img src="https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399__340.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <h1>Awesome Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Awesome Slide 3</h1>
    </ion-slide>
  </ion-slides> -->

  <app-about-me></app-about-me>
  <app-work-experience></app-work-experience>
  <app-social-media></app-social-media>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Experience
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list> -->
</ion-content>
